*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange-color: #db6b1a;
    --hell-color: #f7f1e1;
    --dark-color: #2B2B2A;
}

html {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
}

nav ul {
    width: 35%;
    height: 100%;
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul a {
    font-size: 1.3em;
    color: #F7F1E1;
    text-transform: uppercase;
    position: relative;
}

nav ul a::after {
    content: '';
    position: absolute;
    display: block;
    background-color: #F7F1E1;
    width: 0%;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);   
    transition: all 0.5s; 
}

nav ul a:hover::after {
    width: 100%;  
}
/* BURGER MENU */
.burger-menu {
    display: none;
}

.menu-btn {
    display: none;
    position: fixed;
        top: 1%;
        left: 3%;
        z-index: 30;

        width: 10vw;
        height: 10vw;
}

.menu-btn span {
    background-color: var(--orange-color);
    width: 100%;
    height: 10%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.8s;
    
}

.menu-btn span:nth-child(2) {
    top: calc(50% - 15px);  
}

.menu-btn span:nth-child(3) {
    top: calc(50% + 15px);  
}

.menu-btn.burger-menu.active-burger-menu span:nth-of-type(1) {
    
}


/* BURGER MENU */
.burger-menu {
    width: 100%;
    height: 100%;
    padding: 3em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: var(--dark-color);
    align-items: center;

    transition: all 0.5s;
    
    transform: translateX(-100%);

    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    
    
}
/*------ Burger menu Beim Click zeigen ---*/
.burger-menu.active-burger-menu {
    transform: translateX(0);
}

.burger-menu a {
    width: 90%;
   /*  display: block; */
    height: 100%;
    overflow: hidden;

}

.burger-menu h3, .burger-menu p {
    margin-left: 15%;
    color: var(--hell-color);
}

.burger-menu h3 {
    font-size: 3em;
}

.burger-menu p {
    font-size: 1.5em;
    font-style: italic;
}

.burger-menu span {
    color: var(--orange-color);
}

.burger-menu div:hover {
    transform: scale(1.1);
}

.burger-menu div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.8s;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* -------MEDIA QUERIES--------BURGER MENU------ */


@media screen and (max-width: 768px) {
    
    nav {
        display: none;
    }
    /* BURGER MENU BUTTONS */
    .menu-btn {
        display: block;   
    }

}