*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    background-color: var(--dark-color);
}

header {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.header-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* -------TITEL------------- */
.titel-container {
    width: fit-content;
    height: auto;
}

h1 {
    margin-top: 10vh;
    text-align: center;
    color: var(--orange-color);
    font-size: 3em;
    text-transform: uppercase;
}

header h2 {
    margin-top: 1em;
    text-align: center;
    color: var(--hell-color);
    font-size: 4em;
    text-transform: uppercase;
}

header h2::after {
    font-family: "FontAwesome";
    content: '';
    width: 30%;
    height: 2px;
    background-color: var(--orange-color);
    display: block;
    
    position: relative;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
}

/* ---------GRID CONTAINER-------------- */
.header-grid-container {
    margin-top: 10vh;
    width: 90%;
    height: 55%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}

.header-grid-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-grid-item span {
    color: var(--orange-color);
}

.header-grid-item h3 {
    color: var(--hell-color);
    font-size: 3em;
    text-align: center;
}

.header-grid-item p {
    color: var(--hell-color);
    text-align: center;
    font-size: 2em;
    font-style: italic;
}

/* BG  div */
.bg-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    filter: saturate(100%);
    transition: all 0.8s;
}

.header-grid-item:hover .bg-container {
    filter: saturate(1%);
    /* filter: blur(5px); */
    opacity: 0.3;
}

    /* Div mit Texte */

.header-grid-item div:first-child {
    width: 100%;
    transition: all 0.8s;
    transform: translateY(7.5em);
    background-color: rgba(0, 0, 0, 0.5);

}

.header-grid-item:hover div:first-child {
    transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.0);
}

.header-grid-item:nth-child(1) .bg-container {
    background-image: url(../img/Basic-project-screenshot.png);
    background-size: cover;
    background-position: center; 
}

.header-grid-item:nth-child(2) .bg-container {
    background-image: url(../img/backtalks-project-screenshot.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-grid-item:nth-child(3) .bg-container {
    background-image: url(../img/hardcode-homepage-screenshot.png);
    background-size: cover;
    background-position: center;
    
}

.header-grid-item:nth-child(4) .bg-container {
    background-image: url(../img/nav-pic-3.jpg);
    background-size: cover;
    background-position: center;
    
}

.header-grid-item:nth-child(5) .bg-container {
    background-image: url(../img/nav-pic-5.jpg);
    background-size: cover;
    background-position: center;
    
}

.header-grid-item:nth-child(6) .bg-container {
    background-image: url(../img/nav-pic-6.jpg);
    background-size: cover;
    background-position: center;
    
}

/* ---------------MAIN--------------------- */

main {
    width: 90%;
    margin: 0 auto;
}

#project-6 {
    height: 90vh;
}

main section {
    width: 100%;
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
}

/* ---------Text in the Sections ---------*/
.project-content {
    position: sticky;
    top: 20vh;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-content span {
    color: var(--orange-color);
}

main section > div {
    width: 100%;
    height: 100%;
}

.project-content p, .project-content h2, .project-content h3 {
    width: 70%;
    color: var(--hell-color);
}

.project-content h2 {
    font-size: 4em;
}

.project-content h3 {
    margin-top: 0.8em;
    font-size: 1.7em;
}

.project-content p {
    margin-top: 1em;
    font-size: 1.8em;
    font-style: italic;
}
/* ---------Iframe---------------- */
.project-iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.project-iframe iframe {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

/* Button */

.project-content  a {
    max-width: fit-content;
    display: inline-block;
}

.project-content > a div {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1em;
    width: fit-content;
    padding: 10px 20px;
    border: 1px solid var(--orange-color);
    border-radius: 40px;
    transition: 0.5s;
}

.project-content > a div span {
    color: var(--hell-color);
    text-transform: uppercase;
}

.project-content > a:hover div {
    background-color: var(--hell-color); 
    color: var(--dark-color);
    transform: translateX(10%);
    box-shadow: 2px 2px 5px var(--hell-color);
}

.project-content > a:hover div span {
    color: var(--dark-color);
}

/* For even section's text right */

section:nth-child(even) .project-content {
    align-items: flex-end;
}

section:nth-child(even) .project-content > a:hover div {
    transform: translateX(-10%);
}

section:nth-child(even) .project-content h2,
section:nth-child(even) .project-content h3,
section:nth-child(even) .project-content p {
    text-align: end;
}

/* =======================Media Queries=========================== */

/* Larger Tablets & Laptops */
@media screen and (max-width: 1279px) {

    /* Header */
    nav ul {
        width: 55%;
    }

    h1 {
        font-size: 2em;
    }

    header h2 {
        font-size: 3em;
    }

    .header-grid-item h3 {
        font-size: 1.8em;
    }

    .header-grid-item p {
        font-size: 1.3em;
    }

    .header-grid-item div:first-child {
        transform: translateY(7em);
    }

    /* Main */

    .project-content h2 {
        font-size: 3em;
    }

    .project-content h3 {
        font-size: 1.3em;
    }

    .project-content p {
        margin-top: 1em;
        font-size: 1.4em;
        width: 80%;
    }

    .project-iframe iframe {
        height: 80%;
    }
}

/* Larger Smartphones & Tablets  */

@media screen and (max-width: 768px) {
    /* Header */
    
    html {
        scroll-behavior: smooth;
        scroll-snap-type: none;
    }

    nav ul {
        width: 70%;
    }

    nav ul a {
        font-size: 1.1em;
    }

    .header-grid-container {
        margin-top: 10vh;
        width: 90%;
        height: 75%;

    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }
    
    h1 {
        margin-top: 8vh;
        font-size: 1.5em;
    }

    header h2 {
        margin-top: 0.3em;
        font-size: 2em;
    }

    .header-grid-item h3 {
        font-size: 1.3em;
    }

    .header-grid-item p {
        font-size: 1em;
    }
    .header-grid-item div:first-child {
        transform: translateY(6.5em);
    }

    /* Main */

    main section {
        
        flex-direction: column;
    }

    .project-content {
        position: static;
    }

    .project-content h2 {
        font-size: 2em;
    }

    .project-content h3 {
        font-size: 1em;
    }

    .project-content p {
        margin-top: 1em;
        font-size: 1em;
        width: 100%;
    }

    .project-iframe iframe {
        height: 80%;
    }

    .project-content > a div {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 0.7em;
    width: fit-content;
    padding: 7px 20px;
    border: 1px solid var(--orange-color);
    border-radius: 40px;
    transition: 0.5s;
}

}

/* Smartphones */

@media screen and (max-width: 480px) {
    /* Header */
    nav ul {
        width: 80%;
    }
    nav ul a {
        font-size: 1em;
    }

    /* Main */


}