*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-color);
}

main {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-top: 7vh;   
    font-size: 3.5em;
    color: var(--hell-color);
}

.grid-skills-container h2 {
    color: var(--orange-color);
    font-size: 2.5em
}

.grid-skills-container h3 {
    color: var(--hell-color);
    font-size: 1.5em;
    font-style: italic;

}

.grid-skills-container h4 {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.8em;
    box-shadow: 5px 2px 5px 3px rgba(0, 0, 0, 0.5);
}
/* --------GRID CONTAINER----------- */
.grid-skills-container {
    position: relative;
    padding: 1em;
    width: 100%;
    height: 80%;

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(8, 1fr);

}

/* BACKGROUND DIV */
.bg-item {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    background-image: url(../img/nav-pic-3.jpg);
    background-size: cover;
    background-position: center;
}

/* ---GRID ITEMS---- */
.grid-item {
    text-align: center;
    color: var(--hell-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item span {
    color: var(--orange-color);
}

.grid-skills-container .grid-item:nth-child(1) {
    grid-area: 1 / 6 / 2 / span 4;
}


.grid-skills-container .grid-item:nth-child(2) {
    grid-area: 2 / 2 / 3 / 8;
    border-bottom: 1px solid var(--hell-color);
    border-right: 1px solid var(--hell-color);
}

.grid-skills-container .grid-item:nth-child(3) {
    grid-area: 2 / 8 / 3 / 14;
    border-bottom: 1px solid var(--hell-color);
}

.grid-skills-container .grid-item:nth-child(4) {
    grid-area: 3 / 2 / 4 / span 3;
    border-left: 1px solid var(--hell-color);
    border-right: 1px solid var(--hell-color);
}

.grid-skills-container .grid-item:nth-child(5) {
    grid-area: 3 / 11 / 4 / span 3;
    border-left: 1px solid var(--hell-color);
    border-right: 1px solid var(--hell-color);
}

.grid-skills-container .grid-item:nth-child(6) {
    grid-area: 4 / 13 / 5 / span 2;
}

.grid-skills-container .grid-item:nth-child(7) {
    grid-area: 4 / 7 / 5 / span 2;
}

.grid-skills-container .grid-item:nth-child(8) {
    grid-area: 4 / 4 / 5 / span 2;
}

.grid-skills-container .grid-item:nth-child(9) {
    grid-area: 4 / 10 / 5 / span 2;
}

.grid-skills-container .grid-item:nth-child(10) {
    grid-area: 5 / 10 / 6 / span 2;
}

.grid-skills-container .grid-item:nth-child(11) {
    grid-area: 5 / 7 / 6 / span 2;
    opacity: 0.5;
    
}

.grid-skills-container .grid-item:nth-child(12) {
    grid-area: 5 / 4 / 6 / span 2;
}

.grid-skills-container .grid-item:nth-child(13) {
    grid-area: 5 / 13 / 6 / span 2;
}

.grid-skills-container .grid-item:nth-child(14) {
    grid-area: 6 / 4 / 6 / span 2;
}

.grid-skills-container .grid-item:nth-child(15) {
    grid-area: 6 / 10 / 6 / span 2;
    opacity: 0.5;
}

.grid-skills-container .grid-item:nth-child(16) {
    grid-area: 6 / 13 / 6 / span 2;
}

.grid-skills-container .grid-item:nth-child(17) {
    grid-area: 3 / 7 / 4 / span 1;
    border-right: 1px solid var(--hell-color);
}

.grid-skills-container .grid-item:nth-child(18) {
    grid-area: 4 / 1 / 5 / span 2;

}

.grid-skills-container .grid-item:nth-child(19) {
    grid-area: 7 / 4 / 8 / span 2;

}

.grid-skills-container .grid-item:nth-child(20) {
    grid-area: 7 / 10 / 8 / span 2;
    font-size: 0.8em;
    opacity: 0.5;
}

.grid-skills-container .grid-item:nth-child(21) {
    grid-area: 8 / 10 / 9 / span 2;
    font-size: 0.8em;
    opacity: 0.5;
}

.grid-skills-container .grid-item:nth-child(22) {
    grid-area: 7 / 13 / 8 / span 2;
    
}

.grid-skills-container .grid-item:nth-child(23) {
    grid-area: 5 / 1 / 6 / span 2;
    font-size: 0.8em;
    opacity: 0.5;
}





/* -----------Media Queries-------------- */

/* Larger Tablets & Laptops */
@media screen and (max-width: 1279px) {
    /* Header */
    nav ul {
        width: 55%;
    }

    /* Main */

    .grid-skills-container .grid-item:nth-child(12) {
        font-size: 0.8em;
    }

    .grid-skills-container .grid-item:nth-child(14) {
        font-size: 0.8em;
    }

    
    h1 {
        font-size: 3em;
    }
    
    h2 {

        font-size: 2em
    }
    
    h3 {
        font-size: 1.3em;
    
    }
    
    h4 {
        font-size: 1.5em;
    }

}

/* Larger Smartphones & Tablets  */

@media screen and (max-width: 768px) {
    /* Header */
    
    nav ul {
        width: 70%;
    }

    nav ul a {
        font-size: 1.1em;
    }

    /* MAIN */



    main {
        width: 100%;
    }

    .grid-skills-container {
        width: 95%;
        padding: 0.5em;
        grid-template-rows: repeat(4, 1fr) repeat(4, 0.5fr);
    }

    h1 {
        font-size: 2.3em;
        margin-top: 0.5em;
    }
    
    h2 {
        font-size: 1.5em
    }
    
    h3 {
        font-size: 1em;
    }
    
    h4 {
        font-size: 1.2em;
    }

}

/* Smartphones */

@media screen and (max-width: 480px) {
    /* Header */
    nav ul {
        width: 80%;
    }
    nav ul a {
        font-size: 1em;
    }

    /* MAIN */

    .grid-skills-container {
        grid-template-rows: repeat(4, 1fr) repeat(4, 0.5fr);
    }


    .grid-skills-container .grid-item:nth-child(10) {
        font-size: 0.8em;
        
    }

    .grid-skills-container .grid-item:nth-child(11) {
        font-size: 0.8em;
        
    }

    

    h1 {
        font-size: 2em;

    }
    
    h2 {
        font-size: 1.2em
    }
    
    h3 {
        font-size: 0.8em;
    }
    
    h4 {
        font-size: 1em;
    }
}


