*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-color);
}

header {
    width: 100%;
    height: 100%;
}

.header-container {
    /* margin-top: 4vh; */
    display: flex;
    height: 100vh;
    width: 100%;
}

.header-container > div {
    width: 100%;
    height: 100%;
} 

/* HEADER FIRST BLOCK */
.header-box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../img/me.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-box-1 h1 {
    font-size: 5.5em;
    text-align: center;
    color: var(--hell-color);
}

.header-box-1 span {
    color: var(--orange-color);
}

.header-box-1 h2 {
    margin-top: 30px;
    color: var(--hell-color);
    text-align: center;
    font-size: 2.5em;
    text-decoration: underline;
}

.header-box-1 ul {
    margin-top: 35px;
    list-style: none;
    display: flex;
}

.header-box-1 ul a {
    color: var(--hell-color);
    font-size: 3em;
    margin: 20px;
}

.header-box-1 ul li:first-child a::after {
    font-family: "FontAwesome";
    content: '\e055';
}

.header-box-1 ul li:nth-child(2) a:after {
    font-family: "FontAwesome";
    content: '\f0e1';
}

.header-box-1 ul li:last-child a:after {
    font-family: "FontAwesome";
    content: '\f09b';
}

/* HEADER SECOND BLOCK */

.header-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

}
.header-box-2 a {
    display: block;
    height: 100%;
    overflow: hidden;
    
}

.header-box-2 div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.8s;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-box-2 div:hover {
    transform: scale(1.1);
}

.header-menu-1 {
    background-image: url(../img/nav-pic-4.jpg);
}

.header-menu-2 {
    background-image: url(../img/nav-pic-1.jpg);
}

.header-menu-3 {
    background-image: url(../img/nav-pic-3.jpg);
}

.header-menu-4 {
    background-image: url(../img/nav-pic-6.jpg);  
}

.header-box-2 h3, .header-box-2 p {
    margin-left: 15%;
    color: var(--hell-color);
}

.header-box-2 h3 {
    font-size: 3em;
}

.header-box-2 p {
    font-size: 1.5em;
    font-style: italic;
}

.header-box-2 span {
    color: var(--orange-color);
}


/* --------------------MAIN------------------ */

main {
    width: 90%;
    margin: 0 auto;
}
section {
    margin-top: 10vh;
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;

}

section > div {
    width: 50%;
    color: var(--hell-color);
    
    display: flex;
    flex-direction: column;
}

/* ITEM - 1 */
.content {
    position: sticky;
    top: 35vh;
    width: 70%;
    z-index: 10;
}

.content a {
    max-width: fit-content;
    display: inline-block;
    
}
/* BUTTON */
.content > a div {
    margin-top: 10%;
    width: fit-content;
    padding: 15px 30px;
    border: 1px solid var(--hell-color);
    border-radius: 40px;
    font-size: 2em;
    transition: 0.5s;
}

.content > a div span {
    color: var(--hell-color);
    text-transform: uppercase;
}

.content > a:hover div {
    background-color: var(--hell-color); 
    color: var(--dark-color);
    transform: translateX(10%);
}

.content > a:hover div span {
    color: var(--dark-color);
}

main span {
    color: var(--orange-color);
}


.content h2 {
    font-size: 5em;
}

main p {
    margin-top: 25px;
    font-size: 2.8em;
    font-style: italic;
}

/* ITEM - 2 */

.image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 3px solid var(--hell-color);
}

.section-1 .image a img {
    width: 15vw;
    height: auto;
    border: none;
    transition: transform 0.5s;
}

.section-1 .image a:hover img {
    transform: scale(1.2);
}

.item-2 .content {
    align-self: flex-end;
}

/* Fotos drehen */
.section-3 .item-2 img {
    transform: rotateZ(5deg);
}

.section-3 > .image {
    width: 50%;
    height: auto;
}

.section-3 > .image img {
    width: 100%;
    height: 100%;
 
    position: relative;
    top: -10vh;
    left: 30vh;
    z-index: -1;

    transform: rotateZ(345deg);
}

.section-4 {
    height: 50vh;
    display: flex;
    align-items: center;
}

.section-4 div {
    width: 100%;
}


/* -----------Media Queries-------------- */

/* Larger Tablets & Laptops */
@media screen and (max-width: 1279px) {
    /* Header */
    nav ul {
        width: 55%;
    }

    /* Main */
    .content {
        width: 90%;
    }

    .content > a div {
        font-size: 1.5em;
    }

    .content h2 {
        font-size: 4em;
    }

    main p {
        font-size: 2em;
    }

    .section-3 .item-2 .image {
        width: 85%;

    }

}

/* Larger Smartphones & Tablets  */

@media screen and (max-width: 768px) {
    /* Header */
    .header-box-1 {
        display: none;
    }
    nav ul {
        width: 70%;
    }

    nav ul a {
        font-size: 1.1em;
    }

    /* MAIN */
                /* Sections column machen */
    section {
        flex-direction: column;
        gap: 50px;
    }

    section > div {
        width: 100%;
    }

    .section-3 .item-1 .content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .section-3 .item-1 .content a {
        width: max-content;
    }

    .section-3 .item-1 {
        align-items: flex-end;
    }

    .section-3 > .image img {
        left: 5vh;
    }

    .content > a div {
        font-size: 1.1em;
    }
    
    .content h2 {
        font-size: 3em;
    }

    main p {
        font-size: 1.5em;
    }

}

/* Smartphones */

@media screen and (max-width: 480px) {
    /* Header */
    nav ul {
        width: 80%;
    }
    nav ul a {
        font-size: 1em;
    }

    /* Main */

    .content h2 {
        font-size: 2.5em;
    }

    .content > a div {
        font-size: 1em;
    }

}