$red: #E30512;
$blue: #1D3FBB;
$yellow: #F9BE02;
$grapefruit: #F5651A;
$turkis: #3FC1B5;
$white: #FFFFFF;
$gray: #6F696B;
$rosa: #E568AC;

%flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }